[submodule "lbg-car-spring-app-starter"]
	path = lbg-car-spring-app-starter
	url = https://github.com/troycdev/lbg-car-spring-app-starter.git
[submodule "lbg-car-react-starter"]
	path = lbg-car-react-starter
	url = https://github.com/troycdev/lbg-car-react-starter.git
